:root {
  --font: 'Itim', Verdana;
  --foreground: 255, 255, 255;
  --background: 50, 55, 63;
  --accent: 85, 193, 227;
  --low: 242, 200, 93;
  --out: 240, 109, 101;
  --good: 85, 194, 184;
  --flicker: none;
  --glow: none;
  --strobe: none;
}
iframe {
  display: none;
}
#lasers {
  display: none;
}
#addDisco {
  display: none;
}