#addDisco {
  position: fixed;
  bottom: 3vh;
  right: 5.4vh;
  z-index: 5;
  margin: 0 auto;
}
#addDisco button {
  position: relative;
  width: 15vh;
  height: 15vh;
  float: right;
  padding: 0;
  background: none;
  border: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#addDisco img {
  position: relative;
  margin: -2vh;
  height: 110%;
  width: auto;
}

.lasers {
  max-width: 100vw;
  overflow-x: hidden;
}
.laser-beam-blue {
  position: fixed;
  bottom: 10vh;
  right: 12vh;
  z-index: 4;
  transform-origin: 0 100%;
  width: 1vh;
  height: 500%;
  background: rgba(99,195,231,0.6);
  -webkit-box-shadow: 0vh 0vh 2vh .2vh rgba(99,195,231,1);
  -moz-box-shadow: 0vh 0vh 2vh .2vh rgba(99,195,231,1);
  box-shadow: 0vh 0vh 2vh .2vh rgba(99,195,231,1);
  -webkit-animation: laser 7s infinite;
  -moz-animation: laser 7s infinite;
  -o-animation: laser 7s infinite;
  animation: laser 7s infinite;
}

.laser-beam-red {
  position: fixed;
  bottom: 10vh;
  right: 12vh;
  z-index: 4;
  transform-origin: 0 100%;
  width: 1vh;
  height: 500%;
  background: rgba(236,19,65,0.6);
  -webkit-box-shadow: 0vh 0vh 2vh .2vh rgba(236,19,65,1);
  -moz-box-shadow: 0vh 0vh 2vh .2vh rgba(236,19,65,1);
  box-shadow: 0vh 0vh 2vh .2vh rgba(236,19,65,1);
  -webkit-animation: laser 7.5s infinite;
  -moz-animation: laser 7.5s infinite;
  -o-animation: laser 7.5s infinite;
  animation: laser 7.5s infinite;
} 
.laser-beam-purple {
  position: fixed;
  bottom: 10vh;
  right: 12vh;
  z-index: 4;
  transform-origin: 0 100%;
  width: 1vh;
  height: 500%;
  background: rgba(204, 102, 255, 0.6);
  -webkit-box-shadow: 0vh 0vh 2vh .2vh rgba(204, 102, 255,1);
  -moz-box-shadow: 0vh 0vh 2vh .2vh rgba(204, 102, 255,1);
  box-shadow: 0vh 0vh 2vh .2vh rgba(204, 102, 255,1);
  -webkit-animation: laser 7.3s infinite;
  -moz-animation: laser 7.3s infinite;
  -o-animation: laser 7.3s infinite;
  animation: laser 7.3s infinite;

}
.laser-beam-green {
  position: fixed;
  bottom: 10vh;
  right: 12vh;
  z-index: 4;
  transform-origin: 0 100%;
  width: 1vh;
  height: 500%;
  background: rgba(86, 212, 69, 0.6);
  -webkit-box-shadow: 0vh 0vh 2vh .2vh rgba(86, 212, 69,1);
  -moz-box-shadow: 0vh 0vh 2vh .2vh rgba(86, 212, 69,1);
  box-shadow: 0vh 0vh 2vh .2vh rgba(86, 212, 69,1);
  -webkit-animation: laser 7.7s infinite;
  -moz-animation: laser 7.7s infinite;
  -o-animation: laser 7.7s infinite;
  animation: laser 7.7s infinite;
} 

@-webkit-keyframes laser {
  0%  { 
    -webkit-transform: rotate(-180deg);
  }
    50% { 
    -webkit-transform: rotate(45deg);
  }
  100% { 
    -webkit-transform: rotate(-120deg);
  }
}