*:active {
  outline: 0;
}
html {
  padding:0;
  margin:0;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-size: 3.7vh;
  font-family: var(--font);
  margin: 0 2vh 0 1vh;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
p {
  padding: 0vh;
  margin: 1vh;
}
hr {
  margin: 3vh 0 1vh 0;
  border: 0.1px solid;
  border-color: rgba(var(--foreground), 0.1) !important;
}

#groceryMenu {
  position: sticky;
  z-index: 1;
  top: 0;
  background: rgb(var(--background));
  padding-top: 2vh;
  overflow: hidden;
}
#groceryMenu button {
  font-size: 120%;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  border: 0;
  padding-bottom: 2vh;
  margin-bottom: auto;
}
#groceryMenu #dropdown {
  display: none;
  position: relative;
  background: rgb(var(--background));
  width: 100%;
  top: 2vh;
  padding: 2vh 3vh;
}
#groceryMenu a {
  color: rgb(var(--foreground));
  width: 50%;
  margin: 2vh auto;
  text-decoration: none;
  font-size: inherit;
  display: block;
  z-index: 6;
}
#groceryMenu a:hover span {
  padding: 0 1vh 0 1vh;
  color: rgb(var(--foreground));
  background: linear-gradient(181deg, rgb(var(--background)) 62%, rgba(var(--accent), 0.3) 51%);
}
#groceryMenu h1 {
  font-size: 150%;
  height: 4.7vh;
  margin: auto;
  text-shadow: 0.5px 0.5px 0px;
  color: rgb(var(--foreground));
}
#groceryMenu h1 span {
  background: linear-gradient(177deg, rgb(var(--background)) 50%, rgba(var(--accent), 0.5) 51%);
  padding: 0 1vh 0 1vh;
}

.delItem, .editItem {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.delItem button {
  color: rgba(var(--out), 1);
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 120%;
}
.delItem button:hover {
  filter: brightness(115%);
}
.editItem button {
  color: rgb(var(--accent));
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font-size: 120%;
}
.editItem button:hover {
  filter: brightness(115%);
}

.groceryHeader {
  position: sticky;
  z-index: 3;
  top: 0;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  font-size: 130%;
}
.groceryHeaderName {
  background: rgb(var(--background));
  padding: 1.5vh 0 2vh 0;
  margin: auto;
  animation: var(--flicker);
}

.groceryName button {
  z-index: 2;
  padding: 2vh;
  border-radius: 8px;
  width: 95%;
  text-align: center;
}

.groceryName p {
  z-index: 2;
  padding: 2vh;
  border-radius: 8px;
  text-align: center;
}
.groceryName:hover {
  filter: brightness(103%);
}
.low {
  color: rgb(var(--foreground));
  background-color: rgba(var(--low), 1);
  border: 0vh solid rgba(var(--low), 0.5);
  box-shadow: var(--glow) rgb(var(--low)); 

}
.out {
  color: rgb(var(--foreground));
  background-color: rgba(var(--out), 1);
  border: 0vh solid rgb(var(--out), 0.5);
  box-shadow: var(--glow) rgb(var(--out)); 

}
.good {
  color: rgb(var(--foreground));
  background-color: rgba(var(--good), 1);
  border: 0vh solid rgb(var(--good), 0.5);
  box-shadow: var(--glow) rgb(var(--good)); 

}
.edit {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  outline: 0 !important;
  box-shadow: inset 0px 0px 4px 0px rgb(var(--foreground));
  border: 0vh solid rgba(var(--foreground), 0.5);
}


.addItem {
  position: fixed;
  bottom: 1vh;
  right: 3.5vh;
  z-index: 3;
}
.addItem button {
  width: 14vh;
  height: 14vh;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 2vh 2vh 2vh 0vh;
  background: rgb(var(--accent));
  font-size: 6vh;
  border: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.addItem button:hover {
  filter: brightness(120%);
}

.shopListCategory {
  padding: 0;
}
.shopListItem {
  list-style-type: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {    
      text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 1px rgb(var(--accent)),
      0 0 5px rgb(var(--accent)),
      0 0 10px rgb(var(--accent)),
      0 0 15px rgb(var(--accent)),
      0 0 20px rgb(var(--accent))
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

body{
  -webkit-animation: var(--strobe);
}
@-webkit-keyframes raveOn{
  0%{ opacity: 1; }
  100%{ opacity: 0.7; }
}