html {
  padding:0;
  margin:0;
}
body {
  background-color: #222;
  font-size: 4vw;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}
p {
  padding: 1vw;
  margin: 1vw;
}


.delItem button {
  color: #FF4136;
  border: 0;
  background: none;
  font-size: 8vw;
}
.delItem button:hover {
  filter: brightness(150%);
}
.editItem button {
  color: #17a2b8;
  border: 0;
  background: none;
  font-size: 8vw;
  margin-right: 1vw;
}
.editItem button:hover {
  filter: brightness(150%);
}

.groceryHeader {
  position: sticky;
  z-index:1 ;
  padding: 1vw;
  top: 0;
  color: white;
  background-color: #222;
}

.groceryName button {
  padding: 2vw;
  border: 0.25vw solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  width: 100%;
}
.groceryName:hover {
  filter: brightness(103%);
}
.groceryName:active {
  filter: brightness(98%);
}
.low {
  background-color: #FFDC00;
  color: rgba(102, 88, 0, 1);
  border: 0.25vw solid rgba(102, 88, 0, 0.25) !important;
}
.out {
  background-color: #FF4136;
  color: rgba(128, 6, 0, 1);
  border: 0.25vw solid rgba(128, 6, 0, 0.25) !important;
}
.good {
  background-color: #2ECC40;
  color: rgba(14, 62, 20, 1);
  border: 0.25vw solid rgba(14, 62, 20, 0.25) !important;
}
.edit {
  background-color: #333;
  color: #ececec;
  box-shadow: inset 0px 0px 4px 0px white;
  border: 0.25vw solid rgba(255, 255, 255, 1.25) !important;
}


.addItem {
  position: fixed;
  bottom: 1vw;
  right: 1.5vw;
  z-index: 3;
}
.addItem button {
  width: 12vw;
  height: 12vw;
  color: white;
  padding: 0;
  margin: 2vw 2vw 2vw 0vw;
  border: 0;
  background:#17a2b8;
  font-size: 5vw;
  border: 0.25vw solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  margin: 0.2vw;

}
.addItem button:hover {
  filter: brightness(150%);
}